.heroText {
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    width: 25%;
    height: 50%;
    color: #F4CC21;
    font-weight: bold;
    background: rgb(107, 107, 107); /* Fallback for older browsers without RGBA-support */
    background: rgba(75, 47, 47, 0.8);
}

.heroParagraph {
    font-size: 1.25em;
}

section {
    padding: 3em 0 3em 0;
    display: flex;
    justify-content: center;
    gap: 20%;
    background-image: url('/parkedOutside.png');
    background-size: cover;
}

.heroLogoButton {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quoteRequestBtn:hover {
    transform: scale(1.2);
}

.quoteRequestBtn {
    margin-top: 1em;
    border-radius: 10px;
    height: 2em;
    font-size: 1rem;
    font-weight: bold;
    background-color: #F4CC21; 
    border: none;
    box-shadow: -1px 0px 29px 4px rgba(0,0,0,0.75);
    width: 10rem;
    height: 3rem;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2em 1em;
    }

    .heroText {
        width: 90%;
        margin-top: 2em;
    }
  }