.reviewSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    color: #F4CC21;
  }
  



  .reviewSection h1 {
    margin-bottom: 1.5em;
  }
  
  .reviewComponent {
    display: flex;
    gap: 3rem;
  }
  .reviewCard {
    background-color: #9A0000;
    padding: 2em 1em 2em 1em;
    border-radius: 10px;
    min-width: 500px;
  }

  .reviewLink {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    text-align: center;
    text-decoration: underline;
  }


  @media (max-width: 768px) {
    .reviewComponent {
      flex-direction: column;
    }

    .reviewCard {
      min-width: 95%;
      scrollbar-width: 0%;
    }
  }